*, 
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
} 

body {
  /* Alignment */
  height: 100vh;
  display: flex;
  flex-direction: column;
  /* Typograohy */
  font-family: "Roboto", sans-serif;
}

.hero-container,
.info-container,
.quote-container,
.cta-container{
  flex: 1;
}

.header-container {
  display: flex;
  justify-content: center;
}

.header {
  /* Alignment */
  width: 900px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* Spacing */
  padding: 32px 0;
}

.header-links {
  list-style: none;
  display: flex;
  gap: 24px
}

.hero-container {
  display: flex;
  justify-content: center;
}

.hero {
  width: 900px;
  display: flex;
  align-items: center;
}

.hero-title,
.hero-img {
  flex: 1;
}

.hero-img {
  /* Alignment */
  text-align: center;
  align-content: center;
  width: 50%;
  height: 250px;
  /* Color */
  background-color: #e5e7eb;
}

.info-container {
  display: flex;
  justify-content: center;
}

.info {
  /* Alignment */
  text-align: center;
  width: 900px;
  display: flex;
  flex-flow: wrap column;
  gap: 64px;
  /* Spacing */
  padding: 64px 0;
}

.info-img {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 32px
}

.img-box {
  width: 175px;
  height: 250px;
  display: flex;
  flex-flow: wrap column;
  text-align: center;
  gap: 8px
}

.img-box img {
  width: 150px;
  height: 150px;
  border: 5px solid #3882f6;
  border-radius: 15px;
}

.quote-container {
  /* Alignment */
  display: flex;
  justify-content: center;
  /* Color */
  background-color: #e5e7eb;
}

.quote {
  width: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}


.citation {
  margin: 0 16px 0 auto;
}

.cta-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cta {
  /* Alignment */
  border-radius: 10px;
  width: 900px;
  height: 150px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* Spacing */
  padding: 0 64px;
}

.footer {
  /* Alignment */
  text-align: center;
  align-content: center;
  /* Spacing */
  padding: 48px 0;
}

.header-container,
.hero-container,
.footer {
  background-color: #1f2937;
}

.logo,
.hero-heading,
.footer,
.signup-hero,
.signup-cta,
.cta-text {
  color: #f9faf8;
}

.logo {
  font-size: 24px;
}

.hero-heading {
  font-size: 48px;
  font-weight: 900;
}

.header-links,
.hero-para {
  font-size: 18px;
  color: #e5e7eb;
}

.signup-hero,
.signup-cta,
.cta {
  background-color: #3882f6;
}

.info h2 {
  font-size: 36px;
  color: #1f2937;
  font-weight: 900;
}

.quote-text {
  font-size: 36px;
  font-style: italic;
  color: #1f2937;
  font-weight: 300;
}


.signup-hero,
.signup-cta {
  padding: 8px 40px;
  font-size: 18px;
  font-weight: 900;
  border-radius: 10px;
}

.signup-hero {
  border: 2px solid #1f2937;
  margin-top: 16px;
}

.signup-cta {
  border: 2px solid #f9faf8;
}